<div class="row">
    <img src="https://via.placeholder.com/1200x300" class="img-fluid" alt="Banner Image">
  </div>
      <h1 class="mb-4 text-light">Welcome to our website!</h1>
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 bg-light">
            <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>