
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vis Network | Data | DOT Language</title>

    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
  </head>
  <body>
    <p>Network supports the DOT language.</p>
    <div id="contents" style="height: 600px;">
    <div id="mynetwork">
    </div>
    </div>
    <script type="text/javascript">
      var container = document.getElementById("mynetwork");
      var options = {
        physics: {
        stabilization: false,
        barnesHut: {
            springLength: 200,
            },
        },
        height :'600px' ,
      }
      var dot =
        `digraph  { 
  node [shape=circle fontsize=16]
  edge [length=100, color=gray, fontcolor=black]

  A -> A[label=0.5];
  B -> B[label=1.2] -> C[label=0.7] -- A;
  B -> D[label="edge_label",id="bd"];
  D -> {B; C}
  D -> E[label="a"];
  F -> F;
  A [
    fontcolor=white,
    color=red,
  ]
}
`;
      var data = vis.parseDOTNetwork(dot);
      var network = new vis.Network(container, data,options);
      
      network.on("click", function(params) {
      if (params.nodes.length > 0) {
        var clickedNodeId = params.nodes[0];
        console.log("Node clicked: " + clickedNodeId);
        // 在这里执行您的 onclick 函数，可以根据 clickedNodeId 进行相应的操作
      } else if (params.edges.length > 0) {
        var clickedEdgeId = params.edges[0];
        console.log("Edge clicked: " + clickedEdgeId);
        // 在这里执行您的 onclick 函数，可以根据 clickedEdgeId 进行相应的操作
      }
    });
    </script>
  </body>
</html>